# Visual Studio build artifacts
CityBuilder/CityBuilder/
CityBuilder/.vs/
CityBuilder/x64/
CityBuilder/*/x64/

# Visual Studio user-specific files
*.user
*.suo
*.aps
*.pch
*.vspscc
*.vssscc

# Compiled files
*.obj
*.exe
*.ilk
*.pdb
*.dll
*.lib
*.exp